body{
    background-color: #00BCD4;
    margin: 0;
    padding: 0;
}
.container
{
	width: 305px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #AFEEEE;
	text-align: center;
}
.container h1{
	color: black;
	text-transform: uppercase;
	font-weight: 500;
}
.site-form input[type="text"],.site-form input[type="password"]
{
	border: 0;
	background: none;
	display: block;
	margin: 1px auto;
	text-align: center;
	border: 2px solid #008080;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 025s;
}
.site-form input[type="submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 3px auto;
	text-align: center;
	border: 2px solid #008080;
	padding: 14px 40px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 025s;
	cursor: pointer;
}
.form-group input[type="text"],.form-group input[type="password"]
{
	border: 10;
	background: none;
	display: inline block;
	margin: 10px auto;
	text-align: left;
	border: 2px solid #008080;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 025s;
}
.form-group input[type="submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 3px auto 2px;
	text-align: center;
	border: 2px solid #008080;
	padding: 14px 40px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 025s;
	cursor: pointer;
}